.task-form-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.task-container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 12px;
    background-color: white;
}

h1 {
    margin: 0px 0 16px 0;
}

.ctn-board-add-task-overlay {
    justify-content: space-between;
    align-items: flex-start;
}

.form-board-addTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row !important;
}

.form-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 44%;
}

.break-between {
    width: 1px;
    background-color: var(--middlegrey);
    margin: 0 0;
}

.form-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 44%;   
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn-close-add-task {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.btn-close-add-task:hover {
    background-color: var(--lightgrey);
    cursor: pointer;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-out {
    animation: slide-in 0.2s ease-in-out 0s 1 reverse forwards;
}

.slide-in {
    animation: slide-in 0.2s ease-in-out 0s 1 normal forwards;
}