* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

main {
    margin-left: 232px;
    padding: 32px 64px;
    max-width: 1440px;
    height: calc(100vh-96px);
}

.task-form-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 44%;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/assets/icon/arrow_drop_downaa.svg') no-repeat right 10px;
    background-size: 25px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: grey;
}

.form-group select:focus {
    outline: none;
}

.form-group-subtask {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}

span {
    padding-bottom: 6px;
}

.assigned-input {
    width: 100%;
    background-color: var(--textwhite);
    border: 1px solid var(--middlegrey);
    border-radius: 8px;
}

.assigned-input input {
    width: 95%;
    border: none;
}

.assigned-list {
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--textwhite);
    border-radius: 8px;
    border: 0.1px solid rgba(211, 211, 211, 0.374);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}

.assigned-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 12px;
}

.assigned-content:hover {
    background-color: var(--lightgrey);
}

.assigned-user {
    display: flex;
    align-items: center;
    gap: 18px;
}

.assigned-initital {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0 !important;
    border-radius: 100%;
    color: var(--textwhite);
}

.assigned-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.selectedUser {
    display: flex;
    gap: 4px;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 10;
}

input[type="checkbox"] {
    display: none;
}

.user-checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('/assets/img/checkbox.png');
    background-size: cover;
    cursor: pointer;
}

input[type="checkbox"]:checked+.user-checkbox {
    background-image: url('/assets/img/checkbox-checked-white.png');
}

input#subtaks {
    width: 70%;
}

label {
    font-weight: 400;
    margin-bottom: 8px;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    cursor: pointer;
}

input:hover,
select:hover,
textarea:hover {
    border: 1px solid grey;
}

textarea {
    resize: vertical;
}

.prio-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 8px;
}

.prio {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    font-size: 16px;
}

.prio img {
    margin-left: 5px;
}

.break-between {
    width: 1px;
    background-color: var(--middlegrey);
    margin: 0 0;
}

.small-break-between {
    height: 14px;
    border-left: 1px solid var(--middlegrey);
    margin: 0 10px;
    display: inline-block;
}

#description {
    height: 108px;
}

.required {
    color: red;
}

.upload-container {
    display: flex;
    flex-direction: column;
}

.upload-input {
    width: 100%;
    height: 50px;
    gap: 10px;
    background-color: #EEEFEF;
    border: 2px dotted #a8a8a8a7;
    border-radius: 10px;
    cursor: pointer;
}

.input-placeholder {
    padding: 0;
    color: var(--grey);
}

.upload-info-delete-container {
    justify-content: space-between !important;
}

.upload-info {
    font-size: 12px;
    font-weight: 400;
    color: var(--grey);
}

.upload-delete {
    padding-bottom: 6px;
    cursor: pointer;
}

#gallery {
    display: flex;
    gap: 4px;
    margin-top: 6px;
    overflow-x: auto;
}

.image-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    border: 1px solid var(--middlegrey);
    border-radius: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

.upload-image {
    width: 110px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.image-filename {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--grey);
    word-break: break-all;
    padding: 2px;
}

.delete-container {
    position: absolute;
    width: 110px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(47, 47, 47, 0.5);
}

.image-box:hover .delete-container {
    display: block;
}

.delete-icon {
    background-image: url('/assets/icon/trash.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.delete-icon:hover {
    background-color: #29ABE2;
    border-radius: 50px;
}

.error-text {
    color: var(--red);
    font-weight: 400;
}

.addtask-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#assignedInput {
    border: none;
}

#subtask-list {
    width: 100%;
    background-color: var(--lightgrey);
    height: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    overflow-wrap: break-word;
    white-space: normal;
    border-radius: 4px;
    width: 100%;
}

#subtask-list li {
    position: relative;
    width: 100%;
}

.subtask-edit-container {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightblue);
}

.edit-subtask-input {
    width: 100%;
    height: 16px;
    border: none;
    border-radius: 0% !important;
    box-sizing: border-box;
    outline: none;
    padding: 10px 100px 10px 10px;
}

.edit-subtask-input:hover {
    border: none;
}

.subtask-connect {
    position: relative;
    display: flex;
    align-items: center;
}

.subtask-connect input {
    width: 100%;
    box-sizing: border-box;
}

.subtask-img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.subtask-img img {
    width: 20px;
    height: 20px;
}

.subtask-img img:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
}

li:hover {
    background-color: rgb(228, 228, 228);
}

.edit-check img {
    height: 10px !important;
    width: auto;
}

.extra-contacts-text {
    color: var(--darkblue);
    font-weight: bold;
}

.text-input {
    padding: 10px 90px 10px 10px;
    width: 100%;
}

.user-checkbox {
    margin: 0 !important;
}