@media (max-width: 1280px) {
    .greeting-summary {
        opacity: 1;
        height: calc(100vh - 300px);
        width: 100%;
    }

    .ctn-greeting {
        align-items: center;
        padding: 0;
    }

    .header-summary,
    .ctn-tasks-summary {
        display: none;
    }

    .header-summary {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .hidden {
        display: none;
    }

    .summary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @keyframes showAndHide {
        0% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fadeIn 0.3s ease-in-out forwards;
    }

    .greeting-hide {
        animation: showAndHide 2s forwards;
    }
}

@media (max-width: 1000px) {
    main {
        padding: 0;
        margin-left: 0;
    }

    .main-summary {
        justify-content: center;
    }

    .headline-summary {
        margin: 20px;
        font-size: 55px;
    }

    .headline-right {
        font-size: 26px;
    }

    .header-summary {
        justify-content: center;
    }

    .summary-container {
        display: block;
    }

    .ctn-task-middle {
        height: 130px;
    }

    .ctn-task-large {
        height: 130px;
    }

    .ctn-task-smal {
        height: 130px;
    }
}

@media (max-width: 630px) {
    .headline-summary {
        margin: 20px 0 0;
    }

    .ctn-tasks-summary {
        min-width: 100%;
    }

    .header-summary.d-flex-y {
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .vertical-line-blue {
        display: none;
    }

    .horizontal-line-blue.d-none {
        display: block !important;
        margin-bottom: 24px;
        height: 2px;
        width: 80px;
    }

    .headline-right {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .main-summary {
        padding: 0 12px;
    }

    .main-summary-middle-left {
        width: 47%;
    }

    .text-counter {
        font-size: 18px;
    }

    .ctn-tasks {
        height: 124px;
    }

    .ctn-tasks:hover {
        transform: scale(1);
    }

    .date-upcoming-deadline {
        font-size: 20px;
    }

    .text-deadline {
        font-size: 16px;
    }

    a#main-summary-middle-right {
        padding: 0 6px;
        text-align: center;
    }

    .vertical-line-grey {
        height: 55px;
        width: 1px;
    }
}

@media (max-width: 450px) {
    .summary-container {
        height: 78vh;
        overflow-y: auto;
    }

    .img {
        width: 55px;
    }

    .counter {
        font-size: 40px;
    }

    .main-summary-top {
        gap: 10px;
    }

    .main-summary-bottom {
        gap: 10px;
    }

    .img {
        width: 45px;
    }

    .summary-done {
        gap: 10px;
    }

    .main-summary-middle-left {
        gap: 10px;
    }

    .text-counter {
        font-size: 16px;
    }
}